$size: 30px;
$default-color: #7f8c8d;
$hover-color: #2980b9;

.header {
    background-color: #202A35;
    color: #fff;
}
#toggle-menu {
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
}

// Toggle Diseño
.animate {
	transition: all 0.3s cubic-bezier(0.310, -0.105, 0.430, 1.590);
}

ul.header_grupo_menu li .header_grupo_menu__sub-menu{
display:none;
}

.menu-toggle {
	width: $size;
	height: $size;
	margin: auto;
	cursor: pointer;
	position: absolute;
	bottom: 0;
	right: 0;
	@extend .animate;

	&:before,
	&:after {
		height: $size;
		line-height: $size;
		margin-right: 9px;
		padding-right: 100%;
		font-weight: 600;
		font-size: 0.8em;
		position: absolute;
		font-family: Metrophobic;
		top: 0;
		right: 0;
		@extend .animate;
	}

	&:before {
		content: 'MENU';
		color: #E04C40;
		transform: rotate(0deg);
	}

	&:after {
		content: 'CERRAR';
		color: #E04C40;
		opacity: 0;
		transform: rotate(-45deg);
	}

	.icon {
		width: $size;
		height: $size;
		position: absolute;
		top: 0;
		right: 0;
		@extend .animate;

		.square {
			background-color: #fff;
			width: 24%;
			height: 24%;
			position: absolute;
			@extend .animate;

			&:nth-child(1) {
				top: 0;
				left: 0;
			}

			&:nth-child(2) {
				top: 0;
				left: 38%;
			}

			&:nth-child(3) {
				top: 0;
				left: 76%;
			}

			&:nth-child(4) {
				top: 38%;
				left: 0;
			}

			&:nth-child(5) {
				top: 38%;
				left: 38%;
			}

			&:nth-child(6) {
				top: 38%;
				left: 76%;
			}

			&:nth-child(7) {
				top: 76%;
				left: 0;
			}

			&:nth-child(8) {
				top: 76%;
				left: 38%;
			}

			&:nth-child(9) {
				top: 76%;
				left: 76%;
			}
		}
	}

	&:active {
		opacity: .8;
	}
}
	.menu-toggle.is-active {

		&:before {
			opacity: 0;
			transform: rotate(45deg);
		}

		&:after {
			opacity: 1;
			transform: rotate(0deg);
		}

		.icon {
			transform: rotate(45deg);

			.square {
				background-color: #fff;

				&:nth-child(1),
				&:nth-child(3),
				&:nth-child(7),
				&:nth-child(9) {
					opacity: 0;
				}
			}
		}
	}
// Fin del diseño Toggle
@media (max-width: 720px){

.header__grupo__caja {
    text-align: center;
    padding-bottom: 1rem;
}

.menu-toggle{
	display:none;
}

.header__grupo__caja--dos {
    position: relative;
    min-height: 31px;
}

ul.header_grupo_menu {
	height: auto;
    padding-bottom: 45px;
    padding-left: 0;
    margin: 0;
		li {
    	list-style: none;
    	display: flex;
    	justify-content: center;
		min-height: auto;
		flex-direction: column;
		align-items: center;
		color: #fff;
		font-size: 1.2em;
		font-family: Metrophobic;
		padding: 2px 2px 10px 10px;
		width: 100%;
		display: block;
		box-sizing: border-box;
		text-align: center;
		text-decoration-line: none;
		cursor: pointer;

    	a{
    		color: #fff;
			padding: 2px 2px 10px 10px;
			width: 100%;
			display: block;
			box-sizing: border-box;
			text-align: center;
			text-decoration-line: none;
			&:hover{
    		background-color: #E04C40;
    		}
    	}
	}
}

	.header_grupo_menu{
		display: none;
	}
	.menu-toggle{
		display: block;
	}

}