@import url('https://fonts.googleapis.com/css?family=Metrophobic');
@import 'header';


// Variables para aplicar en el Font-weight
$light 		: 300;
$normal 	: 400;
$semi-bold 	: 600;
$bold 		: 700;
$extra-bold : 800;

// Variables del tema
	// Paleta de color, cree su paleta de color
	$azul: #2676CC;
	$rojo: #E2465B;
	// Estilos base
	$body--font-family : 'Metrophobic', sans-serif;

// Estilos personalizados
.box {

    padding: 1rem 1rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    box-sizing: border-box;
}
img {
    width: 100px;
    height: auto;
    max-width: 100%;
}



