@import url("https://fonts.googleapis.com/css?family=Metrophobic");
.header {
  background-color: #202A35;
  color: #fff; }

#toggle-menu {
  cursor: pointer;
  text-transform: uppercase;
  text-align: center; }

.animate, .menu-toggle, .menu-toggle:before, .menu-toggle:after, .menu-toggle .icon, .menu-toggle .icon .square {
  -webkit-transition: all 0.3s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.3s cubic-bezier(0.31, -0.105, 0.43, 1.59); }

ul.header_grupo_menu li .header_grupo_menu__sub-menu {
  display: none; }

.menu-toggle {
  width: 30px;
  height: 30px;
  margin: auto;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0; }
  .menu-toggle:before, .menu-toggle:after {
    height: 30px;
    line-height: 30px;
    margin-right: 9px;
    padding-right: 100%;
    font-weight: 600;
    font-size: 0.8em;
    position: absolute;
    font-family: Metrophobic;
    top: 0;
    right: 0; }
  .menu-toggle:before {
    content: 'MENU';
    color: #E04C40;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  .menu-toggle:after {
    content: 'CERRAR';
    color: #E04C40;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .menu-toggle .icon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0; }
    .menu-toggle .icon .square {
      background-color: #fff;
      width: 24%;
      height: 24%;
      position: absolute; }
      .menu-toggle .icon .square:nth-child(1) {
        top: 0;
        left: 0; }
      .menu-toggle .icon .square:nth-child(2) {
        top: 0;
        left: 38%; }
      .menu-toggle .icon .square:nth-child(3) {
        top: 0;
        left: 76%; }
      .menu-toggle .icon .square:nth-child(4) {
        top: 38%;
        left: 0; }
      .menu-toggle .icon .square:nth-child(5) {
        top: 38%;
        left: 38%; }
      .menu-toggle .icon .square:nth-child(6) {
        top: 38%;
        left: 76%; }
      .menu-toggle .icon .square:nth-child(7) {
        top: 76%;
        left: 0; }
      .menu-toggle .icon .square:nth-child(8) {
        top: 76%;
        left: 38%; }
      .menu-toggle .icon .square:nth-child(9) {
        top: 76%;
        left: 76%; }
  .menu-toggle:active {
    opacity: .8; }

.menu-toggle.is-active:before {
  opacity: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.menu-toggle.is-active:after {
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg); }

.menu-toggle.is-active .icon {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
  .menu-toggle.is-active .icon .square {
    background-color: #fff; }
    .menu-toggle.is-active .icon .square:nth-child(1), .menu-toggle.is-active .icon .square:nth-child(3), .menu-toggle.is-active .icon .square:nth-child(7), .menu-toggle.is-active .icon .square:nth-child(9) {
      opacity: 0; }

@media (max-width: 720px) {
  .header__grupo__caja {
    text-align: center;
    padding-bottom: 1rem; }
  .menu-toggle {
    display: none; }
  .header__grupo__caja--dos {
    position: relative;
    min-height: 31px; }
  ul.header_grupo_menu {
    height: auto;
    padding-bottom: 45px;
    padding-left: 0;
    margin: 0; }
    ul.header_grupo_menu li {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      min-height: auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #fff;
      font-size: 1.2em;
      font-family: Metrophobic;
      padding: 2px 2px 10px 10px;
      width: 100%;
      display: block;
      box-sizing: border-box;
      text-align: center;
      -webkit-text-decoration-line: none;
              text-decoration-line: none;
      cursor: pointer; }
      ul.header_grupo_menu li a {
        color: #fff;
        padding: 2px 2px 10px 10px;
        width: 100%;
        display: block;
        box-sizing: border-box;
        text-align: center;
        -webkit-text-decoration-line: none;
                text-decoration-line: none; }
        ul.header_grupo_menu li a:hover {
          background-color: #E04C40; }
  .header_grupo_menu {
    display: none; }
  .menu-toggle {
    display: block; } }

.box {
  padding: 1rem 1rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  box-sizing: border-box; }

img {
  width: 100px;
  height: auto;
  max-width: 100%; }
