doctype html
html(lang="es")
	head
		title Sitio web de practica
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		link(rel="stylesheet", href="style.css")
		link(rel="stylesheet", href="css/normalize.css")
		script(src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous")
		script(src="js/dist/main.js")
	body
		header.header
			.header__grupo.box
				.header__grupo__caja
					img(src="https://cdn4.iconfinder.com/data/icons/address-book-providers-in-colors/512/gmail-128.png", alt="").header__grupo__logo
				.header__grupo__caja--dos
					.menu-toggle
						.icon
							- for (var i = 0; i < 9; i++)
								.square
					ul.header_grupo_menu
						li.menu-dos ¿Quienes somos?
							ul.header_grupo_menu__sub-menu
								li: a(href="#") Tribunal
								li: a(href="#") Superor
						li: a(href="#") Admision
						li: a(href="#") Programas
						li: a(href="#") Galeria
						li: a(href="#") Blog
						li: a(href="#") Contacto
		main#main
